.alert code {
    color: inherit;
}

/* stylelint-disable declaration-block-no-redundant-longhand-properties */
.alert a {
    color: inherit;
    
    &:link,
    &:visited,
    &:active {
        text-decoration-line: underline;
        text-decoration-style: dotted;
        text-decoration-thickness: 10%;
    }

    &:hover {
        text-decoration-line: underline;
        text-decoration-style: solid;
        text-decoration-thickness: 10%;
        opacity: 0.5;
    }
}
/* stylelint-enable declaration-block-no-redundant-longhand-properties */